@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:shipwars">Ship Wars</h1>
    <h2>Battle for Sea Dominance</h2>
    <video autoplay muted loop style="width:90vw;height:75vh;">
        <source src="/video/Shipwarsfilm1080.mp4" type="video/mp4" />
        <source src="/video/Shipwarsfilm720.mp4" type="video/mp4" />
    </video>
</div>
