@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/ShipWarsLogo.svg" alt="Ship Wars Logo" style="width:150px;height:150px;">
    
    <h2>Battle for Sea Dominance</h2>
    <video autoplay muted loop style="width:90vw;height:75vh;">
        <source src="/video/Shipwarsfilm1080.mp4" type="video/mp4" />
        <source src="/video/Shipwarsfilm720.mp4" type="video/mp4" />
    </video>
</div>
