html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@font-face {
    font-family: shipwars;
    format ('truetype');
    src: url(/font/star-jedi-font/StarJedi-DGRW.ttf);
}